
<%# TODO: Move to its own file %>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<%= javascript_tag do %>
  function startTimer(duration, display) {
      var timer = duration, minutes, seconds;
      setInterval(function () {
          minutes = parseInt(timer / 60, 10)
          seconds = parseInt(timer % 60, 10);

          minutes = minutes < 10 ? "0" + minutes : minutes;
          seconds = seconds < 10 ? "0" + seconds : seconds;

          display.textContent = minutes + ":" + seconds;

          if (--timer < 0) {
              timer = duration;
          }
      }, 1000);
  }

  window.onload = function () {
      display = document.querySelector('#time');
      startTimer(<%= @time_left %>, display);
  };
<% end %>

<div>
  Time left: <span id="time"><%= Time.at(@time_left).utc.strftime("%M:%S") %></span>
</div>

<div>
<%= @current_question.question_text %>
</div>

<%= form_for(@user_answer) do |f| %>
  <div>
    <%= f.text_area :answer_text %>
  </div>

  <div>
    <%= f.submit "Next Question" %>
  </div>
<% end %>